@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@model EduadminCoursePortal.Models.Booking.Customer

@inject IStringLocalizer<SharedResources> Localizer

<div class="row">
    <div class="col-sm-12">
        <h3>@Localizer["CompanyInformation"]</h3>
    </div>
</div>
@Html.HiddenFor(x => x.CustomerID)
@Html.HiddenFor(x => x.CustomerGroupID)
<div class="row">
    @Html.EditorFor(x => x.CustomerName, "_TextInput")
    @Html.EditorFor(x => x.InvoiceOrgnr, "_TextInput")
</div>
<div class="row">
    @Html.EditorFor(x => x.Address1, "_TextInput")
    @Html.EditorFor(x => x.Zip, "_TextInput")
</div>
<div class="row">
    @Html.EditorFor(x => x.City, "_TextInput")
</div>